/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Pacifico:100,200,300,400,500,600,700');

/*reset standard padding and margin*/

body {
    margin: 0;
    padding: 0;
}

/*HEADER*/

header {
    text-align: center;
}

.column {
    min-height: 100px;
    padding: 0;
}

/*Hey We're the Monkees text*/

.container-text {
    width: 100%;
    height: 100px;
    font-family: "Pacifico", sans-serif;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
}

.container-text p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    font-size: 13px;
}

/*Monkee picture for all pages a different color*/

.logo-home {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 102, 0.45)), to(rgb(255, 255, 102, 0.65))), url("../images/monkees.jpg");
    background: -webkit-linear-gradient(rgb(255, 255, 102, 0.45), rgb(255, 255, 102, 0.65)), url("../images/monkees.jpg");
    background: -o-linear-gradient(rgb(255, 255, 102, 0.45), rgb(255, 255, 102, 0.65)), url("../images/monkees.jpg");
    background: linear-gradient(rgb(255, 255, 102, 0.45), rgb(255, 255, 102, 0.65)), url("../images/monkees.jpg");
}

.logo-media {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 204, 153, 0.65)), to(rgb(255, 204, 153, 0.65))), url("../images/monkees.jpg");
    background: -webkit-linear-gradient(rgb(255, 204, 153, 0.65), rgb(255, 204, 153, 0.65)), url("../images/monkees.jpg");
    background: -o-linear-gradient(rgb(255, 204, 153, 0.65), rgb(255, 204, 153, 0.65)), url("../images/monkees.jpg");
    background: linear-gradient(rgb(255, 204, 153, 0.65), rgb(255, 204, 153, 0.65)), url("../images/monkees.jpg");
}

.logo-about {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(51, 255, 51, 0.45)), to(rgb(51, 255, 51, 0.15))), url("../images/monkees.jpg");
    background: -webkit-linear-gradient(rgb(51, 255, 51, 0.45), rgb(51, 255, 51, 0.15)), url("../images/monkees.jpg");
    background: -o-linear-gradient(rgb(51, 255, 51, 0.45), rgb(51, 255, 51, 0.15)), url("../images/monkees.jpg");
    background: linear-gradient(rgb(51, 255, 51, 0.45), rgb(51, 255, 51, 0.15)), url("../images/monkees.jpg");
}

.logo-book {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 153, 255, 0.45)), to(rgb(255, 153, 255, 0.45))), url("../images/monkees.jpg");
    background: -webkit-linear-gradient(rgb(255, 153, 255, 0.45), rgb(255, 153, 255, 0.45)), url("../images/monkees.jpg");
    background: -o-linear-gradient(rgb(255, 153, 255, 0.45), rgb(255, 153, 255, 0.45)), url("../images/monkees.jpg");
    background: linear-gradient(rgb(255, 153, 255, 0.45), rgb(255, 153, 255, 0.45)), url("../images/monkees.jpg");
}

.logo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
}

/*NAVIGATION*/

.navbar-toggler {
    padding: .25rem .25rem;
}

.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}

.navbar {
    /*border: 2px blue solid;*/
    width: 100%;
    padding: 0px;
    margin: 10px 0px 0px 5px;
}

.navbar a {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.navbar-nav ul {
    width: 100%;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    width: 75%;
    height: 50px;
    margin: 0;
}


.ui-menu-color-home,
.column-home {
    background-color: #ffff66;
}

.ui-menu-color-media,
.column-media,
.carousel-indicators li {
    background-color: #ffcc99;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


.ui-menu-color-about {
    background-color: #33ff33;
}

.ui-menu-color-book,
.column-book {
    background-color: #ff99ff;
}

/*CONTENT*/

.headline {
    font-family: "Pacifico", sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 20px 0px;
}

.content-row {
    width: 100%;
    margin: 0px auto;
}

.content-column {

    padding-left: 20px;
    padding-right: 20px;
}

.content-title {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.content-text {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.caption {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 11px;
    text-align: center;
    margin-bottom: 50px;
}

iframe {
    width: 300px;
    height: 150px;
    padding-bottom: 10px;
}

/*CONTENT HOME*/

.party-content {
    margin: 0px;
    padding: 0px;
}

/*CONTENT MEDIA*/

.picture-tv {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 204, 153, 0.45)), to(rgb(255, 204, 153, 0.65))), url("../images/oldtv3.png");
    background: -webkit-linear-gradient(rgb(255, 204, 153, 0.45), rgb(255, 204, 153, 0.65)), url("../images/oldtv3.png");
    background: -o-linear-gradient(rgb(255, 204, 153, 0.45), rgb(255, 204, 153, 0.65)), url("../images/oldtv3.png");
    background: linear-gradient(rgb(255, 204, 153, 0.45), rgb(255, 204, 153, 0.65)), url("../images/oldtv3.png");
}

.picture-camera {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 204, 153, 0.45)), to(rgb(255, 204, 153, 0.65))), url("../images/oldcamera.png");
    background: -webkit-linear-gradient(rgb(255, 204, 153, 0.45), rgb(255, 204, 153, 0.65)), url("../images/oldcamera.png");
    background: -o-linear-gradient(rgb(255, 204, 153, 0.45), rgb(255, 204, 153, 0.65)), url("../images/oldcamera.png");
    background: linear-gradient(rgb(255, 204, 153, 0.45), rgb(255, 204, 153, 0.65)), url("../images/oldcamera.png");
}

.picture-radio {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 204, 153, 0.45)), to(rgb(255, 204, 153, 0.65))), url("../images/oldradio.png");
    background: -webkit-linear-gradient(rgb(255, 204, 153, 0.45), rgb(255, 204, 153, 0.65)), url("../images/oldradio.png");
    background: -o-linear-gradient(rgb(255, 204, 153, 0.45), rgb(255, 204, 153, 0.65)), url("../images/oldradio.png");
    background: linear-gradient(rgb(255, 204, 153, 0.45), rgb(255, 204, 153, 0.65)), url("../images/oldradio.png");
}

.mobile-title {
    font-size: 18px;
}


.images {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 120px;
}

.carousel-caption {
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
    color: #000;
    padding-top: 0px;
}


#carouselCaptionsRadio a {
    font-size: 8px;
}


audio {
    width: 60%;
    padding-top: 20px;
    outline: none;
    /*https://stackoverflow.com/questions/38840495/remove-blue-border-appearing-around-element-when-clicked*/
}

.carousel-item iframe {
    width: 60%;
    height: 120px;
}



/*CONTENT ABOUT*/

.column-about-img {
    background-image: url(../images/banner.PNG);
    background-repeat: repeat-y;
    background-size: 100%;
    max-width: 80%;
}


.content-title-about {
    font-family: "Pacifico", sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0px;
}

.content-text-about {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
}

.guitar {
    width: 20%;
}

/*CONTENT BOOK*/

form {
    padding: 50px 0px;
}


/*FOOTER*/

footer {
    background-color: #cacccb;
    vertical-align: middle;
}

.social-links {
    text-align: right;
    font-size: 16px;
}

.footer-details {
    padding-top: 15px;
    font-size: 14px;
}

/*http://ksloan.net/css-color-definitions-for-font-awesome-social-icons/*/

.fa-facebook {
    color: #3b5998;

}

.fa-twitter {
    color: #00aced;
}


.fa-youtube {
    color: #bb0000
}

.fa-spotify {
    color: #1ED760;
}


/*MEDIA QUERIES*/

@media (min-width:576px) {
    /*HEADER */
    .column {
        min-height: 250px;
    }

    .container-text {
        width: 100%;
        height: 250px;
    }

    .container-text p {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
            -ms-transform: translateY(-50%) translateX(-50%);
                transform: translateY(-50%) translateX(-50%);
        font-size: 30px;
    }

    /*NAVIGATION */
    .navbar {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .navbar-nav {
        width: 100%;
        margin: 0px;
    }

    .navbar-nav ul {
        width: 100%;
    }


    .navbar a {
        color: #000;
        font-size: 14px;
    }

    .nav-item {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 25%;
        margin: 0px 2px;
    }

    .navbar-toggler {
        padding: 0;
        border: 0;
    }

    /*CONTENT */
    .picture-tv,
    .picture-camera {
        margin-bottom: 0px;
    }

    .mobile-title {
        font-size: 30px;
        margin: 50px 0px;
    }


    iframe {
        width: 200px;
        height: 200px;
    }



    .carousel-caption {
        -webkit-transform: translateY(-80%);
            -ms-transform: translateY(-80%);
                transform: translateY(-80%);
    }


    audio {
        width: 60%;
        height: 250px;
    }
    .carousel-item iframe {
        width: 60%;
        padding-top: 30px;
        height: 250px;
    }

    #carouselCaptionsRadio p {
        font-size: 32px;
    }

    #carouselCaptionsRadio a {
        font-size: 14px;
    }



    /*FOOTER */
    .social-links {
        font-size: 24px;
    }

    .footer-details {
        font-size: 20px;
    }
}

@media (min-width:990px) {

    iframe {
        width: 300px;
        height: 150px;
    }

    .images {
        min-height: 500px;
    }

    .carousel-item iframe {
        width: 60%;
        height: 400px;
    }


}